3=合同号
4=申请日期
5;6;7=销售点地址;销售点名称;零售商名称;产品代码
9;10=身份证号码;发证机关;身份证有效期至;姓名;性别
11;12=社保号码/学生号码;教育程度;住宅/宿舍电话;住宅电话登记人;手机
13;14=电子邮箱;QQ号码;婚姻状况;子女数目;住房状况
15;16=户口所在地省/直辖市;市;区/县;镇;街道/路/村;小区/楼盘;栋/单元/房间号
17;18;19=现居住地址省/直辖市;市;区/县;镇;街道/路/村;小区/楼盘;栋/单元/房间号
20=现居住地址是否与户籍地址相同
22=商品类型;品牌;商品型号;价格元
23=商品类型;品牌;商品型号;价格元
24=商品总价（元）;自付金额（元）;贷款本金（元）;分期期数
25=每月还款额（元）;首次还款日;每月还款日;月贷款利率
26=月服务费率;月咨询费率;参加保险;月手续费（元）

#还款账户信息
#客户银行卡号/账号;客户开户银行;客户银行账户户名;是否银行代扣还款
#客户开户银行所在的城市;客户开户银行分行及支行
#单位/学校/个体全称;任职部门/班级;职位;行业类别;单位/学校性质;单位/院系电话
#现单位/学校地址：省/直辖市;市;区/县;镇;街道/路/村;小区/楼盘;栋/单元/房间号
#邮寄地址;距离毕业时间;总工作年限 
# /现公司工作时间(月）;/学制时间（年）
#家庭成员信息
#73. 家庭成员名称;74. 家庭成员类型;75 家庭成员电话;76. 家庭成员联系地址
#77. 家庭成员名称;78. 家庭成员类型;79. 家庭成员电话
#80. 家庭成员名称;81. 家庭成员类型;82. 家庭成员电话
#其他联系人信息
#83. 联系人姓名;84. 与申请人关系;85. 联系电话
#86. 联系人姓名;87. 与申请人关系;88. 联系电话
#89. 联系人姓名;90. 与申请人关系;91. 联系电话
#收入及支出信息
#92. 月收入总额（元）;93. 其他收入（元/月）; 94. 家庭月收入（元）;95. 个人月支出（元/月）
#其他信息
#销售顾问姓名;销售顾问签名;客户签名
#客服热线电话;版本