合同号=贷款编号=loanNumber
销售点地址=销售点地址=saleAddress
#=是否办理过类似分期业务
姓名=姓名
性别=性别
身份证=证件类型
身份证号码=证件号码
身份证有效期至=证件有效期
#户籍类型
#客户类型（本地人、工薪族、学生）
#社保号码/学生号码
教育程度=教育程度
婚姻状况=婚姻状况
子女数目=子女数量
手机=手机号
#手机号使用期限(月)
#手机月均话费
#手机号是否实名
电子邮箱=电子邮箱
QQ号码=QQ号
住房状况=住房类型
#现地址居住时间(月)
#月租金
现居住地址是否与户籍地址相同=现居住地址是否与户籍地址相同
#商品类型1
#商品价格1
#商品类型2
#商品价格2
#商品总价
#首付金额
#贷款本金
#分期期数
#单位/学校/个体全称
#职位
#行业类别
#单位/学校性质
#单位/院系电话
#距离毕业时间/现公司工作时间
#总工作年限/学制时间
#个人月收入总额
#家庭月收入总额
#个人月支出
